<div class="fundal__body">

  <!-- Produse -->

  <h2 class="arial" style="text-align: center;">Produse</h2>

  <table style="border: 0px;margin-left: auto; margin-right: auto;">
    <tr>
      <th routerLink="/mobile" class="lista">
        <a>
          <img class="imagine__produs" src="assets/Mobile/SmartPhone 1.jpg" >
          <p style="margin-top: 25px; text-align: center;" class="font__produs__titlu">
            SmartPhone
          </p>
        </a>
      </th>
      <th class="lista">
        <a routerLink="/mobile">
          <img class="imagine__produs" src="assets/Mobile/SmartWatch 1.jpg" >
          <p style="margin-top: 25px; text-align: center;" class="font__produs__titlu">
            SmartWatch
          </p>
        </a>
      </th>
      <th class="lista">
        <a routerLink="/mobile">
          <img class="imagine__produs" src="assets/Mobile/Tablete 1.jpg" >
          <p style="margin-top: 25px; text-align: center;" class="font__produs__titlu">
            Tablete
          </p>
        </a>
      </th>
      <th class="lista">
        <a routerLink="/laptop">
          <img class="imagine__produs" src="assets/Laptop/Ultrabook1.jpg" >
          <p style="margin-top: 25px; text-align: center;" class="font__produs__titlu">
            Ultrabook
          </p>
        </a>
      </th>
      <th class="lista">
        <a routerLink="/laptop">
          <img class="imagine__produs" src="assets/Laptop/Laptop1.jpg" >
          <p style="margin-top: 25px; text-align: center;" class="font__produs__titlu">
            Laptop
          </p>
        </a>
      </th>
      <th class="lista">
        <a routerLink="/gaming">
          <img class="imagine__produs" src="assets/Sisteme Gaming & Office/Sisteme ProPc5.jpg" >
          <p style="margin-top: 25px; text-align: center;" class="font__produs__titlu">
            Sisteme ProPc
          </p>
        </a>
      </th>
      <th class="lista">
        <a routerLink="/gaming">
          <img class="imagine__produs" src="assets/Sisteme Gaming & Office/Sisteme brand5.jpg" >
          <p style="margin-top: 25px; text-align: center;" class="font__produs__titlu">
            Sisteme brand
          </p>
        </a>
      </th>
      <th class="lista">
        <a routerLink="/gaming">
          <img class="imagine__produs" src="assets/Sisteme Gaming & Office/Sistem All-In-One1.jpg" >
          <p style="margin-top: 25px; text-align: center;" class="font__produs__titlu">
            Sisteme All-In-One
          </p>
        </a>
      </th>
    </tr>
    <tr>
      <th class="lista">
        <a routerLink="/gaming">
          <img class="imagine__produs" src="assets/Sisteme Gaming & Office/Sisteme Mini-PC2.jpg" >
          <p style="margin-top: 25px; text-align: center;" class="font__produs__titlu">
            Sisteme Mini-PC
          </p>
        </a>
      </th>
      <th class="lista">
        <a routerLink="/gaming">
          <img class="imagine__produs" src="assets/Sisteme Gaming & Office/Servere6.jpg" >
          <p style="margin-top: 25px; text-align: center;" class="font__produs__titlu">
            Servere
          </p>
        </a>
      </th>
      <th class="lista">
        <a routerLink="/componente">
          <img class="imagine__produs" src="assets/Componente/Placi video3.jpg" >
          <p style="margin-top: 25px; text-align: center;" class="font__produs__titlu">
            Placi video
          </p>
        </a>
      </th>
      <th class="lista">
        <a routerLink="/componente">
          <img class="imagine__produs" src="assets/Componente/Procesoare3.jpg" >
          <p style="margin-top: 25px; text-align: center;" class="font__produs__titlu">
            Procesoare
          </p>
        </a>
      </th>
      <th class="lista">
        <a routerLink="/componente">
          <img class="imagine__produs" src="assets/Componente/Placi de baza5.jpg" >
          <p style="margin-top: 25px; text-align: center;" class="font__produs__titlu">
            Placi de baza
          </p>
        </a>
      </th>
      <th class="lista">
        <a routerLink="/componente">
          <img class="imagine__produs" src="assets/Componente/Memorii4.jpg" >
          <p style="margin-top: 25px; text-align: center;" class="font__produs__titlu">
            Memorii
          </p>
        </a>
      </th>
      <th class="lista">
        <a routerLink="/componente">
          <img class="imagine__produs" src="assets/Componente/SSD5.jpg" >
          <p style="margin-top: 25px; text-align: center;" class="font__produs__titlu">
            SSD
          </p>
        </a>
      </th>
      <th class="lista">
        <a routerLink="/componente">
          <img class="imagine__produs" src="assets/Componente/Hard disk-uri6.jpg" >
          <p style="margin-top: 25px; text-align: center;" class="font__produs__titlu">
            Hard disk-uri
          </p>
        </a>
      </th>
    </tr>
    <tr>
      <th class="lista">
        <a routerLink="/componente">
          <img class="imagine__produs" src="assets/Componente/Surse3.png" >
          <p style="margin-top: 25px; text-align: center;" class="font__produs__titlu">
            Surse
          </p>
        </a>
      </th>
      <th class="lista">
        <a routerLink="/componente">
          <img class="imagine__produs" src="assets/Componente/Carcase3.png" >
          <p style="margin-top: 25px; text-align: center;" class="font__produs__titlu">
            Carcase
          </p>
        </a>
      </th>
      <th class="lista">
        <a routerLink="/componente">
          <img class="imagine__produs" src="assets/Componente/Coolere6.jpg" >
          <p style="margin-top: 25px; text-align: center;" class="font__produs__titlu">
            Coolere
          </p>
        </a>
      </th>
      <th class="lista">
        <a routerLink="/periferice">
          <img class="imagine__produs" src="assets/Periferice/Mouse gaming1.jpg" >
          <p style="margin-top: 25px; text-align: center;" class="font__produs__titlu">
            Mouse
          </p>
        </a>
      </th>
      <th class="lista">
        <a routerLink="/periferice">
          <img class="imagine__produs" src="assets/Periferice/Casti gaming3.jpg" >
          <p style="margin-top: 25px; text-align: center;" class="font__produs__titlu">
            Casti
          </p>
        </a>
      </th>
      <th class="lista">
        <a routerLink="/periferice">
          <img class="imagine__produs" src="assets/Periferice/Tastaturi gaming3.jpg" >
          <p style="margin-top: 25px; text-align: center;" class="font__produs__titlu">
            Tastaturi
          </p>
        </a>
      </th>
      <th class="lista">
        <a routerLink="/periferice">
          <img class="imagine__produs" src="assets/Periferice/Scaune gaming2.jpg" >
          <p style="margin-top: 25px; text-align: center;" class="font__produs__titlu">
            Scaune
          </p>
        </a>
      </th>
      <th class="lista">
        <a routerLink="/monitoare">
          <img class="imagine__produs" src="assets/Monitoare&TV/Monitoare LED5.jpg" >
          <p style="margin-top: 25px; text-align: center;" class="font__produs__titlu">
            Monitoare
          </p>
        </a>
      </th>
    </tr>
    <tr>
      <th> </th>
      <th> </th>
      <th> </th>
      <th class="lista">
        <a routerLink="/monitoare">
          <img class="imagine__produs" src="assets/Monitoare&TV/Televizoare LED1.jpg" >
          <p style="margin-top: 25px; text-align: center;" class="font__produs__titlu">
            Televizoare
          </p>
        </a>
      </th>
      <th class="lista">
        <a routerLink="/software">
          <img class="imagine__produs" src="assets/Softwere/Sisteme de operare1.jpg" >
          <p style="margin-top: 25px; text-align: center;" class="font__produs__titlu">
            Softwere
          </p>
        </a>
      </th>
    </tr>
  </table>

  <!-- Coada -->
  <div class="coada">
    <a class="coada__logo" href="https://www.intel.com/content/www/us/en/homepage.html">
      <img class="coada__logo__efecte" src="assets/intel.jpg">
    </a>
    <a class="coada__logo" href="https://www.amd.com/en">
      <img class="coada__logo__efecte" src="assets/amd.jpg">
    </a>
    <a class="coada__logo" href="https://www.nvidia.com/ro-ro/geforce/">
      <img class="coada__logo__efecte" src="assets/geforce.png">
    </a>
    <a class="coada__logo" href="https://www.gigabyte.com/">
      <img class="coada__logo__efecte" src="assets/gigabyte.jpg">
    </a>
    <a class="coada__logo" href="https://www.acer.com/ac/ro/RO/content/home">
      <img class="coada__logo__efecte" src="assets/acer.png">
    </a>
    <a class="coada__logo" href="https://www.asus.com/ro/">
      <img class="coada__logo__efecte" src="assets/asus.jpg">
    </a>
    <a class="coada__logo" href="https://www.logitech.com/en-us">
      <img class="coada__logo__efecte" src="assets/logitech.png">
    </a>
    <a class="coada__logo" href="https://www.lenovo.com/us/en?Redirect=False">
      <img class="coada__logo__efecte" src="assets/lenovo.png">
    </a>
    <a class="coada__logo" href="https://www8.hp.com/ro/ro/home.html">
      <img class="coada__logo__efecte" src="assets/hp.jpg">
    </a>
    <a class="coada__logo" href="https://www.samsung.com/ro/">
      <img class="coada__logo__efecte" src="assets/samsung.png">
    </a>
    <a class="coada__logo" href="https://www.apple.com/">
      <img class="coada__logo__efecte" src="assets/apple.jpg">
    </a>
    <a class="coada__logo" href="https://www.microsoft.com/ro-ro/">
      <img class="coada__logo__efecte" src="assets/microsoft.png">
    </a>
    <a class="coada__logo" href="https://shop.westerndigital.com/">
      <img class="coada__logo__efecte" src="assets/wd.png">
    </a>
  </div>

</div>
